<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js"></script>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>
          Model
        </th>
        <th>
          Make
        </th>
        <th>
          Capacity
        </th>
        <th colSpan="2">
        </th>
      </tr>
      <tr>
        <form method="post" action="/admin/addModel">
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="model" type="text" required>
            </div>
          </td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="make" type="text" required>
            </div>
          </td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="capacity" type="number" required>
            </div>
          </td>
          <td>
            <button type="submit" class="mui-btn">Create</button>
          </td>
        </form>
      </tr>
      {% for model in models %}
        <tr>
          <form method="post" action="/admin/updateModel">
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="displaymodel" type="text" value="{{model.model}}">
                <input name="model" type="hidden" value="{{model.model}}" required>
              </div>
            </td>
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="displaymake" type="text" value="{{model.make}}">
                <input name="make" type="hidden" value="{{model.make}}" required>
              </div>
            </td>
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="capacity" type="text" value="{{model.capacity}}" required>
              </div>
            </td>
            <td>
              <button type="submit" class="mui-btn">Update</button>
            </td>
          </form>
          <form method="post" action="/admin/deleteModel">
            <td>
              <input name="make" type="hidden" value="{{model.make}}" required>
              <input name="model" type="hidden" value="{{model.model}}" required>
              <button type="submit" class="mui-btn">Delete</button>
            </td>
          </form>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
