<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js"></script>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>
          Email
        </th>
        <th>
          Contact
        </th>
        <th>
          First Name
        </th>
        <th>
          Last Name
        </th>
        <th>
          Password
        </th>
        <th colSpan="2">
        </th>
      </tr>
      <tr>
        <form method="post" action="/admin/addUser">
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="email" type="email" required>
            </div>
          </td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="contact" type="text" required>
            </div>
          </td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="firstName" type="text" required>
            </div>
          </td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="lastName" type="text" required>
            </div>
          </td>
          <td>
            <div class="mui-textfield mui-textfield--float-label">
              <input name="password" type="password" required>
            </div>
          </td>
          <td>
            <button type="submit" class="mui-btn">Create</button>
          </td>
        </form>
      </tr>
      {% for user in users %}
        <tr>
          <form method="post" action="/admin/updateUser">
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="displayemail" type="email" value="{{user.email}}">
                <input name="email" type="hidden" value="{{user.email}}" required>
              </div>
            </td>
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="contact" type="text" value="{{user.contact}}" required>
              </div>
            </td>
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="firstName" type="text" value="{{user.first_name}}" required>
              </div>
            </td>
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="lastName" type="text" value="{{user.last_name}}" required>
              </div>
            </td>
            <td>
              <div class="mui-textfield mui-textfield--float-label">
                <input name="password" type="password" required>
              </div>
            </td>
            <td>
              <button type="submit" class="mui-btn">Update</button>
            </td>
          </form>
          <form method="post" action="/admin/deleteUser">
            <td>
              <input name="email" type="hidden" value="{{user.email}}" required>
              <button type="submit" class="mui-btn">Delete</button>
            </td>
          </form>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
